@page "/notarecibida/{notaId:long}"
@layout AccountLayout
@attribute [AllowAnonymous]


<div class="kt-login__wrapper" style="width:100%!important;">
    <div class="kt-login__signin">
        <div class="kt-login__head">
            <h3 class="kt-login__title">@languageContainerService.Keys["Gracias por confirmarnos la lectura de su correo!"]</h3>
        </div>
        <div class="kt-login__form">
          

        </div>
    </div>

</div>
