@using DataModel.Helper;


<!-- Modal Creat/Edit -->
@if (Inspeccion != null && OpenDialog)
{
    switch (Inspeccion.TipoActa)
    {
        case DataModel.Helper.enumAUD_TipoActa.None:
            {
                //SELECCIONAR EL TIPO DE ACTA QUE SE QUIERE AGREGAR
                <InspectionType Inspeccion="@Inspeccion"></InspectionType>
                break;
            }
        case DataModel.Helper.enumAUD_TipoActa.RetencionRetiroProductos:
            {
                <RetencionRetiroProductos Inspeccion="@Inspeccion"></RetencionRetiroProductos>
                break;
            }
        default:
            {

                break;
            }
    }

    <div class="modal-backdrop fade show"></div>
}

