@page "/login"
@layout AccountLayout
@attribute [AllowAnonymous]

<div class="kt-login__signin">
    <div class="kt-login__head">
        <h3 class="kt-login__title">Iniciar Sesión</h3>
    </div>
    <EditForm id="loginform" class="kt-form" OnValidSubmit="OnLogin" Model="loginRequest">
        <div class="input-group">
            <InputText style="background:none!important;background-color:white!important;" class="form-control" type="text" autocomplete="off" placeholder="Usuario" name="UserName" @bind-Value="loginRequest.UserName" />
            <ValidationMessage For="@(() => loginRequest.UserName)" />
        </div>
        <div class="input-group">
            <InputText  style="background:none!important;background-color:white!important;" class="form-control" type="password" autocomplete="off" placeholder="Contraseña" name="Password" @bind-Value="loginRequest.Password" />
            <ValidationMessage For="@(() => loginRequest.Password)" />
        </div>
        <div class="input-group">
            <label class="text-danger">@error</label>
        </div>
        <div class="row kt-login__extra">
            <div class="col">
                <label class="kt-checkbox">
                    <InputCheckbox type="checkbox" name="remember" @bind-Value="loginRequest.RememberMe" /> Recuerdame
                    <span></span>
                </label>
            </div>
            @*<div class="col kt-align-right">
                    <NavLink href="javascript:;" id="kt_login_forgot" class="kt-login__link">Forget Password ?</NavLink>
                </div>
                <div class="col kt-align-right">
                    <NavLink href="./register" id="kt_login_forgot" class="kt-login__link">Crear Cuenta</NavLink>
                </div>*@
        </div>
        <div class="kt-login__actions">
            <button id="kt_login_signin_submit" class="btn btn-brand btn-pill kt-login__btn-primary" type="submit">Entrar</button>
        </div>
    </EditForm>
</div>
