@inherits LayoutComponentBase
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
<PageTitle>Aig.Farmacoterapia.Admin</PageTitle>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        @Body				
    </div>
</div>

 <MudOverlay  ZIndex="9999" Visible="@loading" DarkBackground="true" Absolute="true">
 </MudOverlay>

<MudThemeProvider/>

@code {
    protected bool loading = false;
    protected async override Task OnInitializedAsync()
    {
        Bus.Subscribe<bool>(OverlayChangeEventHandler);
        base.OnInitialized();
    }
    private void OverlayChangeEventHandler(MessageArgs args)
    {
        loading  = args.GetMessage<bool>();
        this.InvokeAsync(StateHasChanged);
    }
}