@page "/fetchdata"
@using Aig.Farmacoterapia.Admin.Wasm.Infrastructure.Managers.Medicament
@using Aig.Farmacoterapia.Domain.Common
@*@attribute [Authorize]*@
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@code {

    @inject IMedicamentManager _manager;
    
    protected override async Task OnInitializedAsync()
    {
        var result =await _manager.SearchAsync(new PageSearchArgs());
        if (!result.Succeeded){
            foreach (var message in result.Messages)
                _snackBar.Add(message, Severity.Error);
        }
       ;
    }
}
