<style>
    .mud-dialog {
        max-height: calc(107vh - var(--mud-appbar-height));
        overflow-y: auto;
    }
</style>
<MudDialog DisableSidePadding="true">
    <DialogContent>
        <MudContainer>
              <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <p align="justify">
                       Esta portal es compatible con los navegadores:
                       <br />
                       Google Chrome, Firefox, Microsoft Edge
                    </p>
                </div>
            </div>
        </MudContainer>
    </DialogContent>
    
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
  
}