@inject Microsoft.JSInterop.IJSRuntime jsRuntime


<canvas class="signature" id="signature-@_id" style="width: 100%;border-width:1px;border-style:solid;padding-top: 0px!important;">
    Get a better browser, bro.
</canvas>

@*<button type="button" class="btn btn-default" @onclick="Clear">Borrar</button>*@
<button type="button" class="btn btn-primary" @onclick="Clear">Borrar</button>

