<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.web>
			<!-- ~ 2GB -->
			<httpRuntime maxRequestLength="419430412" executionTimeout="3600" />
		</system.web>
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<security>
				<requestFiltering>
					<requestLimits maxAllowedContentLength="52428800" />
					<!-- 50 MB -->
				</requestFiltering>
			</security>
			<aspNetCore requestTimeout="00:20:00" processPath="dotnet" arguments=".\AigAuditoriaApi.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout"  hostingModel="OutOfProcess" />
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: 815d5e37-163a-4258-ac36-6d325e04937d-->