@page "/dashboard"
@layout BackendLayout
@attribute [Authorize]


<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    @*<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
    <div class="kt-subheader__main">
    <h3 class="kt-subheader__title">
    <NavLink href='/dashboard' class="kt-subheader__breadcrumbs-link">
    @languageContainerService.Keys["Dashboard"]
    </NavLink>
    </h3>
    </div>
    </div>
    </div>*@

    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                @languageContainerService.Keys["Dashboard"]
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            @*<div class="kt-portlet__head-actions">                                
                                <a href="https://uat2-minsa.panamadigital.gob.pa:8084/" class="dropdown-item" target="_blank"><i class="fa fa-file-pdf"></i> @languageContainerService.Keys["Monografías"]</a>
                            </div>*@
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>